@charset "utf-8";
/* CSS Document */



body{
	background-color: rgba(195,33,35,1.00);
	padding: 0px;
    margin: 0px;

  height: 100%;
}
hmtl{
	height: 100%
}
#first-div{
	background-image: url(../cloud_scene_brown.png);
	background-size:cover;
	
}
.form-container{
	
	margin-top: 8%
}
.center-page{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}
.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  
}
#particles-js{
  display:block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.card {
	border-radius: 15px;
	height: 30rem;
	width: 20rem;
}
.card-css{
	background-color: rgba(255,234,190,1.00);
	
	background-size: cover;
	margin-top: 10%;
}